TFI_API_KEY=your_tfi_api_key_here
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_snowflake_user
SNOWFLAKE_PASSWORD=your_snowflake_password
SNOWFLAKE_DATABASE=transit_pipeline
SNOWFLAKE_WAREHOUSE=transit_wh
SNOWFLAKE_SCHEMA=silver